@import "tailwindcss";



@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

.marquee-reverse {
  display: flex;
  width: max-content;
  animation: scroll-right 30s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

